<% include nav.ejs %>
<div class="container">
<div class="row">
    
    <div class="col l12">
        <div class="card grey lighten-5">
        <div class="card-content black-text">
            
            <% if(data[0]) { %> 
            <div class="card-image">
            <img src= <%= data[0].img %>>
            </div>
          <h4><%= data[0].name + " " %></h4>
          <p><%=data[0].area %></p>
          <p><%=data[0].desc %></p>
          <p><%=data[0].contact %></p>
            
            <% } %>
        </div>
        <div class="card-action">
          <a style="color:darkgreen"href="/book/<%=data[0]._id%>">Book</a>
          
        </div>
      </div>
        
       
    </div>
</div>
</div>
<% include foot.ejs %>