<% include nav.ejs %>

<!--<div class="nav-content container">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#test1">Test 1</a></li>
      <li class="tab"><a class="active" href="#test2">Test 2</a></li>
      <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
      <li class="tab"><a href="#test4">Test 4</a></li>
    </ul>
  </div>
</nav> -->
    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <div class="left-align col s4">
                <div class="card-panel hoverable">
                    <img class="circle responsive-img" src="./img/1.png">
                    <p><i class="material-icons">person</i>   <%=  users.name + " " %></p>
                    <p><i class="Tiny material-icons">mail_outline</i>   <%=  users.username %></p>
                    <% if(users.area!=undefined) { %>
                        <p><i class="material-icons">location_on</i> <%= users.area + " " %> </p>
                    <% } else {  %>
                        <p><i class="material-icons">location_on</i> No Area set </p> 
                    <% } %>
                    <a class="modal-trigger" href="#modal1"><i class="material-icons">edit</i>Edit Profile</a>
                    
                </div>
            </div>
            <div class="left-align col s8">
                <div class="card-panel hoverable">
                    <h4>My Bookings</h4>
                    <ul class="collection">
                        <% for(var i=0;i<users.bookings.length;i++) { %>
                            
                                    <li class="collection-item">
                                        <a href="/book/<%=users.bookings[i].venue._id%>">
                                        <%= users.bookings[i].venue.name + " on " + users.bookings[i].date + " at " + users.bookings[i].duration %>
                                        </a></li>
                            
                        <% } %>                
                    </ul>
                </div>
            </div>
        </div>
           
        <div id="modal1" class="modal">
            <form action="/user/update" method="POST" >
            <div class="modal-content">
              <h4>Edit Your Profile</h4>
              <br>
              
                <div class="input-field col s12">
                    <input value="<%=users.name%>" name="name" id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input value="<%= users.area %>" name="area" id="area" type="text" class="validate">
                    <label for="area">Area</label>
                </div>
                
            
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">SAVE CHANGES</button>                    

            </div>
            </form>
        </div>
    </div>

<% include foot.ejs %>