<% include nav.ejs %>
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="left-align col s4 ">
                <div class="card-panel hoverable" style="width:300px; height:500px;">
                        <p><%= user.name + " " %></p>
                    <div class="collection">
                        <a href="#!" class="collection-item" ><span class="badge"></span><i class="material-icons prefix"> people</i>Friends</a>
                        <a href="/userProfile" class="collection-item" ><span class="badge"></span><i class="material-icons profile">person</i>My profile</a>
                    </div>
                    <p><i class="material-icons">location_on</i> <%= user.area + " " %> </p>
                </div>
            </div>
            <div class="centre-align col s4">
                    <a href="#!" class="btn" onclick="Materialize.fadeInImage('#image-test')"><i class="material-icons pprefix">near_me</i> Play grounds around me</a>
                <div class="row"></div>
                <div class="row"></div>
                <div class="card-content grey lighten-4 z-depth-4">
                    <form>
                    <div class="input-field">
                            <button class="btn-flat waves-effect waves-light col right" type="submit"><i class="material-icons">send</i></button>
                        <input name="something" id="something" type="text">                        
                        <label for="something"><i class="material-icons">create</i>Write something....
                        </label>
                    </div>
                    </form>
                </div>
            </div>
            <div class="right-align col s4 ">
                    <div class="">My recent bookings</a>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a href="#!"><%= %></a>
                        </li>
                        <li><a href="#!"><%= %></a></li>
                        <li><a href="#!">Show more..</a></li>
                    </ul>    
                <ul id="slide-out" class="side-nav">
                        <li><div class="user-view">
                            <div class="background">
                            <img src="">
                            </div>
                            <a href="#!user"><img class="circle" src=""></a>
                            <a href="#!name"><span class="white-text name"><%= user.username %></span></a>
                            <a href="#!email"><span class="white-text email"><%= user.email%></span></a>
                        </div></li>
                        <li><a href="#!"><i class="material-icons"></i>Click here to start a new conversation</a></li>
                        <li><div class="divider"></div></li>
                        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                </ul>
            </div>
        </div>
    </div>

<% include foot.ejs %>